<p id="notice"><%= notice %></p>

<h1>Voitures</h1>

<table>


<%= link_to 'New Voiture', new_voiture_path %>
  <tbody>
    <% @voitures.each do |voiture| %>
       <%= render "voitures/partial",  voiture:voiture  =%>
    <% end %>
  </tbody>
</table>

<br>

