<p id="notice"><%= notice %></p>

<%= render "voitures/partial",  voiture:voiture  =%>


<div style="display:flex; justify-content:space-around"> 
<%= link_to 'Edit', edit_voiture_path(@voiture) %> |
<%= link_to 'Back', voitures_path %>
</div>